h1 {
    text-align: center;
}
.ShoppingCartHeader {
    float: right;
    padding-right: 1rem;
}
.ExcellaLogo {
    text-align: center;
    height: 75%;
}
.ItemSection {
    display: inline-block;
    padding: 5rem;
}
.ItemPicture {
    height: 20rem;
    width: 20rem;
}
.ItemInfo {
    text-align: center;
}
.ItemQuantity {
    padding: 1rem;
}
.header {
    display: inline-flex;
}