h1 {
    text-align: center;
}
.ShoppingCartHeader {
    float: right;
    padding-right: 1rem;
}
.ExcellaLogo {
    text-align: center;
    height: 75%;
}
.ShirtSection {
    display: inline-block;
}
.ShirtPicture {
    float: left;
    height: 20rem;
    width: 20rem;
}
.ShirtInfo {
    text-align: center;
}
.shirtQuantity {
    padding: 1rem;
}
.header {
    display: inline-block;
}