<div class="Header">
  <div class="ShoppingCartHeader">
    <button (click)="cartToggle()">My Shopping Cart</button>
    <div *ngIf="showCart">
      <app-cart-view [items]=items [containsItems]=containsItems [totalCost]=totalCost></app-cart-view>
    </div>
  </div>
  <div class="ExcellaLogo">
    <img src="https://media.glassdoor.com/sqll/241645/excella-consulting-squarelogo-1516585675987.png">
  </div>
</div>
<h1><u><b>Welcome to the Excella Online Store!</b></u></h1>

<hr>

<div class="Items">
  <div class = "ItemSection">
    <img class="ItemPicture" src="https://images-na.ssl-images-amazon.com/images/I/A19ORLNOKeL._UX466_.jpg">
    <div class="ItemInfo">
      <p><b>Classic Polo</b></p>
      <p><b>$20.00</b></p>
      <button (click)="addItemToCart(0)">Add to Cart</button>
      <br>
      <div class = "ItemQuantity">
        <input type="number" value="1" name="quantity" min="0" max="20" (change)="updateQuantity($event, 0)">
      </div>
    </div>
  </div>
  <div class = "ItemSection">
      <img class="ItemPicture" src="https://rukminim1.flixcart.com/image/832/832/puzzle/d/y/h/pi-world-1-3x3x3-stickerless-speed-cube-original-imadymkygcgb3gqg.jpeg?q=70">
      <div class="ItemInfo">
        <p><b>Rubiks Cube</b></p>
        <p><b>$10.00</b></p>
        <button (click)="addItemToCart(1)">Add to Cart</button>
        <br>
        <div class = "ItemQuantity">
          <input type="number" value="1" name="quantity" min="0" max="20" (change)="updateQuantity($event, 1)">
        </div>
      </div>
  </div>