<div class="Header">
  <div class="ShoppingCartHeader">
    <button (click)="cartToggle()">My Shopping Cart</button>
    <div *ngIf="showCart">
      <app-cart-view [numShirts]=numShirts></app-cart-view>
    </div>
  </div>
  <div class="ExcellaLogo">
    <img src="https://media.glassdoor.com/sqll/241645/excella-consulting-squarelogo-1516585675987.png">
  </div>
</div>
<h1><u><b>Welcome to the Excella Online Store!</b></u></h1>

<hr>

<div class = "ShirtSection">
  <img class="ShirtPicture" src="https://images-na.ssl-images-amazon.com/images/I/A19ORLNOKeL._UX466_.jpg">
  <div class="ShirtInfo">
    <p><b>Classic Polo</b></p>
    <p><b>$20.00</b></p>
    <button (click)="addShirt()">Add to Cart</button>
    <br>
    <div class = "shirtQuantity">
      <input type="number" value="1" name="quantity" min="0" max="20" (change)="updateQuantity($event)">
    </div>
  </div>
</div>